* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #1f242d;
    line-height: 1.5em;
    list-style: none;
    text-decoration: none;
}



header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    right: 0;
    padding: 0.5rem;
    z-index: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } 

.profileimg {
    margin-left: 25%;
    width: 50%;
    height: 200px;
    border-radius: 100%;
    border: solid 10px #262c37;
}

.some {
    display: flex;
    margin-left: 10%;
    padding-right: 10px;
}

.some a {
    max-width: 200px;
}

.some img {
    display: block;
    width: 50px;
    border-radius: 50%;
}

.sidenav p {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}
  
  span {
    color: #2894ff;;
    margin: 16px;
  }
  
  /* alt inde i navigations linjen */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /*når navigationslinjen skal lukkes igen*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.home {
    padding: 10rem 1rem 1rem 1rem;
    background-color: #1f242d;
    color: #ffffff;
}

.home h1 {
    font-size: 32px;
}

.home h2 {
    margin: 1.5rem 0;
    font-size: 20px;
    height: 520px;
}

.home p {
    margin-top: 2rem;
}

.about {
    padding: 1rem 1rem;
    background-color: #ffffff;
}

.about h2 {
    margin-bottom: 2rem;
    border-bottom: 5px solid #2894ff;
    padding-bottom: 15px;
    border-radius: 50%;
    text-align: center;
}

.about img {
    margin: 2rem 0;
    width: 100%;
    height: 400px;
}

.facts ul {
    margin-left: 1rem;
    list-style-type: none;
}

.facts li {
    font-size: 16px;
    margin-bottom: 1rem;
}
.facts li::before {
    content: "▶ ";
    color: #2894ff;
}


.portfolie {
    padding: 1rem 1rem;
    height: 100rem;
    color: #ffffff;
}






.skills {
    padding: 1rem 1rem;
    background-color: #ffffff;
    height: 100rem;
}


hr{
    border: solid 2px #2894ff;
    border-radius: 5rem;
    width: 5rem;
    height: 0.2rem;
    font-size: large;
}
/* =====Desktop størrelse====== */
