* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #1f242d;
    line-height: 1.5em;
    list-style: none;
    text-decoration: none;
}


/* ===== Headerstart ===== */

header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    right: 0;
    padding: 0.5rem;
    z-index: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #15181f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.profileimg {
    margin-left: 25%;
    width: 50%;
    height: 200px;
    border-radius: 100%;
    border: solid 10px #262c37;
}

.some {
    display: flex;
    margin-left: 10%;
    padding-right: 10px;
}

.some a {
    max-width: 200px;
    text-align: center;
}

.some img {
    display: block;
    width: 50px;
}

.sidenav p {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

span {
    color: #2894ff;

    margin: 16px;
}

/* alt inde i navigations linjen */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

/*når navigationslinjen skal lukkes igen*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* ===== Header slut ===== */

/* ===== Home Start ===== */

.home {
    background-color: #1f242d;
    color: #ffffff;
    position: relative;
    top: 0;
}

.home img {
    width: 100%;
    height: 750px;
}

.home h1 {
    font-size: 32px;
    margin-left: 1.5rem;
}

.home h2 {
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.overskrift {
    text-shadow: 8px 8px 14px #000;
}

.top-left {
    position: absolute;
    top: 15rem;
    left: 16px;
}

/* ===== Home Slut ===== */

/* ===== About Start ===== */

.about {
    padding: 1rem;
    background-color: #ffffff;
}

.about h2 {
    margin-bottom: 2rem;
    padding-bottom: 15px;

}

.about img {
    margin: 2rem 0;
    width: 100%;
    height: 400px;
}

.facts {
    margin-bottom: 2rem;
}

.facts ul {
    margin-left: 1rem;
    list-style-type: none;
}

.facts li {
    font-size: 16px;
    margin-bottom: 1rem;
}

.facts li::before {
    content: "▶ ";
    color: #2894ff;
}

/* ===== About Slut ===== */

/* ===== Portfolie Start ===== */

.portfolie {
    padding: 1rem;
    color: #ffffff;
}

.portfolie-content {
    margin: 2rem 0;
}

.portfolie-content img {
    width: 100%;
}

.rumrejse {
    margin-bottom: 2rem;
}

.rumrejse p {
    margin: 0 1rem;
}

.rumrejse a {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.ballet {
    margin-bottom: 2rem;
}

.ballet p {
    margin: 0 1rem;
}

.ballet a {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.linedance {
    margin-bottom: 2rem;
}

.linedance p {
    margin: 0 1rem;
}

.linedance a {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.gocycle {
    margin-bottom: 2rem;
}

.gocycle p {
    margin: 0 1rem;
}

.gocycle a {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.portfolie-border {
    border: solid 3px #103d6b;
    background-color: #242425;
}

/* ===== Portfolie Slut ===== */

/* ===== Skill section start ===== */

.skills {
    padding: 1rem;
    background-color: #ffffff;
}

.skills h2 {
    margin-bottom: 2rem;
}

.skill-container {
    border: 2px solid #888888;
    border-radius: 10px;
    padding: .5rem;
}

.container {
    width: 100%;
    background-color: rgb(209, 209, 209);
}

.evner {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #111111;
    margin: 0.5rem 0;
}

.html {
    width: 60%;
    background-color: #ff8c00;
}

.css {
    width: 40%;
    background-color: #1e90ff;
}

.js {
    width: 5%;
    background-color: #ffff00;
}

.adobe {
    width: 15%;
    background-color: #006400;
}

.video {
    width: 10%;
    background-color: #3bedf3;
}

/* ===== Skill section Slut ===== */

/* ===== Contact section start ===== */

.contakt {
    color: #ffffff;
    padding: 1rem;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
    font-size: 16px;
    background-color: #195796;
    color: #000;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e90ff;
}

.contakt-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    color: #000;
}

hr {
    border: solid 2px #2894ff;
    border-radius: 5rem;
    width: 100%;
    height: 0.2rem;
    font-size: large;
    margin-top: 1rem;
}

/* ===== Footer Start ===== */

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1f242d;
}

footer a {
    color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.some-footer {
    flex-direction: row;
    margin: 2rem;
}

.some-footer img {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ===== Footer Slut ===== */

/* =====Mobil størrelse Start====== */

@media screen and (max-width: 767px) {
    .sidenav-desktop {
        display: none;
    }

}

/* =====Mobil størrelse Slut====== */

/* =====Desktop størrelse====== */

@media screen and (min-width: 768px) {

    h2 {
        font-size: 32px;
        line-height: 1.2em;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    .home {
        text-align: center;
    }

    .home img {
        height: 935px;
    }

    .home h1 {

        font-size: 64px;
        line-height: 1em;
    }

    .home h2 {
        margin-top: 5rem;
    }

    .top-left {
        position: absolute;
        top: 15px;
        left: 16px;
        margin-top: 25%;
        margin-left: 15%;
    }

    /* About Section Start */

    .about {
        display: block;
    }


    .about img {
        width: 45%;
    }

    .about div {
        max-width: 45%;
        flex-direction: row;
    }


    /* About section Slut */

    .portfolie h3 {
        margin-top: 2rem;
    }

    .portfolie p {
        font-size: 18px;
    }

    .portfolie a {
        font-size: 20px;
    }

    .portfolie-content {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .portfolie-border {
        width: 48%;
    }


    .skill-container {
        margin: 0 6rem;
        margin-bottom: 2rem;
    }

    .contakt-container {
        margin: 3rem 6rem;
    }

    span {
        display: none;
    }

    section {
        margin-left: 250px;
    }

    /* ===== Sidenav Desktop Start ===== */

    .sidenav-desktop img {
        width: 100%;
        height: 300px;
    }

    .sidenav-desktop p {
        color: #ffffff;
        margin-left: 1.7rem;
    }

    .sidenav-desktop {
        text-transform: uppercase;
        display: flex;
        position: relative;
    }

    .sidenav-desktop .nav-cont {
        display: block;
        position: fixed;
        width: 250px;
        height: 100%;
        background-color: #262c37;
        padding: 40px 0px;
        font-size: 24px;
    }

    .nav-cont a {
        position: relative;
        display: flex;
        padding: 10px 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.4);
        background-color: #262c37;
        letter-spacing: 2px;
        font-size: 24px;
        transition: 0.5s;
        margin: 0px 15px;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .sidenav-desktop a:hover {
        color: #ffffff;
    }

    .center {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .nav-bord {
        justify-content: center;
    }

    .some-desk {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .some-desk img {
        display: block;
        width: 45px;
        height: auto;
    }

    .some-desk a {
        max-width: 30px;
    }

    /* ===== Sidenav Desktop Slut ===== */

    footer {
        margin-left: 175px;
    }

}

/* =====Desktop størrelse Slut====== */