* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: #1f242d;
    line-height: 1.5;
    list-style: none;
    text-decoration: none;
}



header {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    right: 0;
    padding: 0.5rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } 

.profileimg {
    margin-left: 25%;
    width: 50%;
    height: 200px;
    border-radius: 100%;
    border: solid 10px #262c37;
}

.some {
    margin: 1rem 25%;
    margin-left: 30%;
}
.some a {
    max-width: 100px;
    justify-content: space-between;
}
.some img {
    width: 50px;
    border-radius: 100%;
}

.sidenav p {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}
  
  span {
    color: #2894ff;;
    margin: 16px;
  }
  
  /* alt inde i navigations linjen */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /*når navigationslinjen skal lukkes igen*/
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.home {
    margin-top: 2rem;
    padding: 1rem 1rem;
    background-color: #1f242d;
    color: #ffffff;
}

.home h3 {
    margin: 1.5rem 0;
    font-size: 16px;
    height: 100px;
}

.home p {
    margin-top: 2rem;
}

.about {
    padding: 1rem 1rem;
    background-color: #ffffff;
    height: 25rem;
}

.portfolie {
    padding: 1rem 1rem;
    height: 100rem;
}









hr{
    border: solid 2px #2894ff;
    border-radius: 5rem;
    width: 5rem;
    height: 0.2rem;
    font-size: large;
}
/* =====Mobile størrelse====== */
